name: Atualizar Grade Hor치ria

on:
  workflow_dispatch: # Permite rodar manualmente
  schedule:
    - cron: "30 10 * * *"  # 07:30 AM BRT
    - cron: "35 15 * * *"  # 12:35 PM BRT
    - cron: "0 3 * * *"    # 00:00 AM BRT

jobs:
  update-schedule:
    runs-on: ubuntu-latest
    

    steps:
      - name: 游닌 Clonar reposit칩rio
        uses: actions/checkout@v3
        
      - name: Configurar fuso hor치rio para S칚o Paulo
        run: |
          echo "TZ=America/Sao_Paulo" >> $GITHUB_ENV  # Define o fuso hor치rio

      - name: 游 Configurar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: 游닍 Instalar depend칡ncias
        run: npm install

      - name: 游니 Rodar script para atualizar a grade hor치ria e fazer commit
        env:
          API_AUTHORIZATION: ${{ secrets.API_AUTHORIZATION }}
          GH_PAT: ${{ secrets.GH_PAT }}
        run: node run.js
